@model SpecificChatViewModel

<link rel="stylesheet" href="~/css/chatView.css" asp-append-version="true" />

<script>
    var currentUserId = '@Model.currentUserId';
    var otherUserId = '@Model.otherUserId';
    var currentUserName = '@Model.currentUserName';
</script>

<div id="chatContainer">
    <div id="chatArea">
        @foreach(var message in Model.messages)
        {
            <div class="@(message.SenderId == Model.currentUserId ? "myMessage" : "otherMessage")">
            <span>@message.Sender : @message.Content</span>
            <span class="timestamp">@message.Timestamp.ToString("g")</span>
        </div>
        }
    </div>

    <div id="messageInputArea">
        <textarea id="messageInput"></textarea>
        <button id="sendChatButton">Send</button>
    </div>
</div>

