@using TwitterClone.Models
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<ApplicationUser> SignInManager
@model Tweet

<link rel="stylesheet" href="~/css/tweetView.css" asp-append-version="true" />

<link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />

@if(Model is RetweetedTweet)
{
  @* var retweetedTweet = Model as RetweetedTweet;
  Model = retweetedTweet.Tweet; *@
  <p>This is Retweet</p>
}
<div class="clickable-div tweet-wrap" data-tweet-id="@Model.Id">
  <div class="tweet-header">
    <img src="@Model.User.ProfilePicture" alt="" class="avator">
    <div class="tweet-header-info">
      <a asp-controller="User" asp-action="Index" asp-route-id="@Model.User.Id">@Model.Username:</a> <span>@Model.CreatedAt</span>
      <p>@Html.Raw(@Model.TweetContent)</p>
    </div>
  </div>

  <div class="tweet-info-counts">
    <span class="likes">
      <a asp-controller="Tweet" asp-action="ShowLikes" asp-route-id="@Model.Id">
        # of likes : <span class="actual-count">@Model.Likes.Count</span>
      </a>
    </span>
  </div>

  <div class="button-container-grid">
    
    <button type="submit" class="reply-button action-btn" data-tweet-id="@Model.Id">Reply</button>
    
    @if(Model.Retweets.Any(r => r.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier)) == false)
    {
        <form method="post" asp-action="Retweet" asp-controller="Tweet" class="retweet-form">
            <input type="hidden" name="tweetId" value="@Model.Id" />
            <button class="action-btn" type="submit">Retweet</button>
        </form>
    }
    else 
    {
        <form method="post" asp-action="Retweet" asp-controller="Tweet" class="unretweet-form">
            <input type="hidden" name="tweetId" value="@Model.Id" />
            <button class="action-btn" type="submit">Unretweet</button>
        </form>
    }


    @if (Model.Likes.Any(l => l.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier)) == false)
    {
      <form method="post" asp-action="Like" asp-controller="Tweet" class="like-form">
        <input type="hidden" name="tweetId" value="@Model.Id" />
        <button class="action-btn" type="submit">Like</button>
      </form>
    }
    else
    {
      <form method="post" asp-action="Unlike" asp-controller="Tweet" class="unlike-form">
        <input type="hidden" name="tweetId" value="@Model.Id" />
        <button class="action-btn" type="submit">Unlike</button>
      </form>
    }
    @if(Model.Bookmarks.Any(b => b.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier)) == false)
    {
        <form method="post" asp-action="Bookmark" asp-controller="Tweet" class="bookmark-form">
            <input type="hidden" name="tweetId" value="@Model.Id" />
            <button class="action-btn" type="submit">Bookmark</button>
        </form>
    }
    else 
    {
        <form method="post" asp-action="Bookmark" asp-controller="Tweet" class="unbookmark-form">
            <input type="hidden" name="tweetId" value="@Model.Id" />
            <button class="action-btn" type="submit">Unbookmark</button>
        </form>
    }
    
  </div>
</div>


<div class="modal reply-modal" data-tweet-id="@Model.Id">
  <div class="modal-content">
    <span class="close-button" id="closeModalReply">&times;</span>
    <h2>Reply</h2>
    <form id="ReplyForm" class="modal-form" method="post" asp-action="Reply" asp-controller="Tweet">
      <input type="hidden" name="ParentTweetId" value="@Model.Id" />
      <div class="form-row">
        <textarea name="Content"></textarea>
      </div>
      <div class="form-row">
        <button type="submit" class="save-button">Reply</button>
      </div>
    </form>
  </div>
</div>
