@model SpecificChatViewModel

<link rel="stylesheet" href="~/css/chatView.css" asp-append-version="true" />

<script>
    var currentUserId = '@Model.currentUserId';
    var otherUserId = '@Model.otherUserId';
    var currentUserName = '@Model.currentUserName';
</script>

<div id="chatContainer">
    @{
        var user = (Model.messages[0].Recipient.UserName == Model.currentUserName ? Model.messages[0].Sender : Model.messages[0].Recipient);
    }
    <div class="tweet-header">
        <img src="@user.ProfilePicture" alt="" class="avator">
        <div class="tweet-header-info">
            <a asp-controller="User" asp-action="Index" asp-route-id="@user.Id">@user.UserName</a>
        </div>
    </div>
    <div id="chatArea">
        @foreach(var message in Model.messages)
        {
            <div class="@(message.SenderId == Model.currentUserId ? "myMessage" : "otherMessage")">
            <span>@message.Content</span>
            <span class="timestamp">@message.Timestamp.ToString("g")</span>
        </div>
        }
    </div>

    <div id="messageInputArea">
        <textarea id="messageInput"></textarea>
        <button id="sendChatButton">Send</button>
    </div>
</div>

