@model ICollection<ApplicationUser>

<style>
    .user-list {
        display: flex;
        flex-direction: column;
    }

    .user-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }

    .user-avatar {
        flex: 1;
        max-width: 50px;
    }

        .user-avatar img {
            width: 100%;
            border-radius: 50%;
        }

    .user-info {
        flex: 5;
    }

    .user-action {
        flex: 1;
    }

    .follow-btn {
        background-color: #1DA1F2;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }
    
    .follow-btn:hover {
		background-color: #0c85d0;
	}

</style>

@if (Model.Count == 0)
{
    <div class="alert alert-info">
        <p>There are no users to display.</p>
    </div>
}
else
{
        <div class="user-list">
        @foreach (var user in Model)
        {
            <div class="user-item" data-user-id="@user.Id">
                    <div class="user-avatar">
                        <img src="@user.ProfilePicture" alt="@user.UserName" />
                    </div>
                        <div class="user-info">
                            <a asp-controller="User" asp-action="Index" asp-route-id="@user.Id">@user.UserName</a>
                            <p>@user.Bio</p>
                        </div>
                    </div>
        }
        </div>
}
